<app-header></app-header>

<div class="container main-container">
    <div class="conatiner form-container">
      <h4>Edit {{item}}</h4>
    <form [formGroup]="editForm" (ngSubmit)="onEdit()" class="add-item-form" >
        <label class="form-label" for="name">Name</label>
        <input type="text" class="form-control" placeholder="Enter title" formControlName="name">
        <div *ngIf="editForm.get('name')?.touched && editForm.get('name')?.invalid" class="text-danger">
          <div *ngIf="editForm.get('name')?.errors?.['required']">Name is required.</div>
          <div *ngIf="editForm.get('name')?.errors?.['noSpaces']">Name cannot be just spaces.</div>
        </div>

        <label class="form-label" for="description">Description</label>
        <input type="text" class="form-control" placeholder="Enter description" formControlName="description">
        <div *ngIf="editForm.get('description')?.touched && editForm.get('description')?.invalid" class="text-danger">
          <div *ngIf="editForm.get('description')?.errors?.['required']">Description is required.</div>
          <div *ngIf="editForm.get('description')?.errors?.['noSpaces']">Name cannot be just spaces.</div>
        </div>

        <label class="form-label" for="image">Image</label>
        <input type="file" class="form-control" (change)="onFileSelected($event)">

        <div class="button-container">
          <button [disabled]="editForm.invalid" type="submit" class="btn btn-success">Add</button>
      </div>
    </form>
  </div>
</div>