<div class="forgot-password-bg">
    <div class="container forgot-password-main row">
      <div class="container forgot-password-container col-md-4">
        <h2>Forgot Password</h2>
        <div class="forgot-password-form">
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
            <input 
              type="text" 
              class="form-control main-input" 
              placeholder="Enter your email" 
              formControlName="email">
            <div *ngIf="forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.invalid" class="text-danger">
              <div *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">Email is required.</div>
              <div *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">Invalid email address.</div>
            </div>
            <button type="submit" class="btn btn-success mt-3">Submit</button>
          </form>
          <a class="back-to-login mt-4" [routerLink]="'/login'">Back to Login</a>
        </div>
      </div>
    </div>
  </div>
  