.forgot-password-bg {
    background-image: url('../../../../assets/public/backgroundimage.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .forgot-password-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 0.625rem;
    backdrop-filter: blur(0.625rem);
    box-shadow: 0 0.625rem 1.5625rem rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    color: #fff;
    margin-bottom: 1rem;
  }
  
  .main-input {
    margin-bottom: 1.5rem;
    padding: 0.75rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.3125rem;
    width: 100%;
    font-size: 1rem;
  }
  
  .main-input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .btn {
    padding: 0.75rem 1.5rem;
    border-radius: 0.3125rem;
    background-color: #28a745;
    border: none;
    color: white;
    font-size: 1rem;
  }
  
  .btn:hover {
    background-color: #218838;
  }
  
  .text-danger {
    font-size: 0.8rem;
    color: #ff4d4d;
  }
  
  .back-to-login {
    display: block;
    margin-top: 1rem;
    color: white;
    text-decoration: none;
  }
  
  .back-to-login:hover {
    text-decoration: underline;
  }
  