h4{
    text-align: center;
    margin-top: 1rem;
}
.button-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.selected-exercises{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.selectedbtns{
    margin-left: 1rem;
}