<app-header [isAdmin]="true" [isLoggedIn]="true"></app-header>

<div class="container main-container">
    <div class="form-container">
        <h4>{{ formFunction }} Package</h4>
        <form [formGroup]="packageForm" (ngSubmit)="onAdd()" class="add-item-form">
            <div class="form-group">
                <label for="name" class="form-label">Name</label>
                <input type="text" id="name" class="form-control" formControlName="name" placeholder="Enter package name">
                <div *ngIf="packageForm.get('name')?.invalid && packageForm.get('name')?.touched" class="text-danger">
                    <div *ngIf="packageForm.get('name')?.errors?.['required']">Name is required.</div>
                    <div *ngIf="packageForm.get('name')?.errors?.['noSpaces']">Name cannot be just spaces.</div>
                </div>
            </div>

            <div class="form-group">
                <label for="description" class="form-label">Description</label>
                <input type="text" id="description" class="form-control" formControlName="description" placeholder="Enter package description">
                <div *ngIf="packageForm.get('description')?.invalid && packageForm.get('description')?.touched" class="text-danger">
                    <div *ngIf="packageForm.get('description')?.errors?.['required']">Description is required.</div>
                    <div *ngIf="packageForm.get('description')?.errors?.['noSpaces']">Description cannot be just spaces.</div>
                </div>
            </div>

            <div class="form-group">
                <label for="exercise" class="form-label">Select Exercises</label>
                <select id="exercise" class="form-control" (change)="exerciseSelect($event)" formControlName="exercises">
                    <option value="" disabled>Select an exercise</option>
                    <option *ngFor="let exercise of exerciseOptions" [value]="exercise._id">{{ exercise.Name }}</option>
                </select>
                <div *ngIf="packageForm.get('exercises')?.invalid && packageForm.get('exercises')?.touched" class="text-danger">
                    At least one exercise must be selected.
                </div>
            </div>

            <div class="selected-exercises mt-2">
                <div class="selectedbtns" *ngFor="let ex of selectedExercise">
                    <button type="button" (click)="deSelectExercise(ex.id)" class="btn btn-secondary">
                        {{ ex.name }} <span><i class="fa-solid fa-x"></i></span>
                    </button>
                </div>
            </div>

            <div class="form-group">
                <label for="subscription" class="form-label">Select Subscription</label>
                <select id="subscription" class="form-control" formControlName="subscription">
                    <option value="" disabled>Select a subscription</option>
                    <option *ngFor="let subscription of subscriptionOptions" [value]="subscription._id">{{ subscription.Name }}</option>
                </select>
                <div *ngIf="packageForm.get('subscription')?.invalid && packageForm.get('subscription')?.touched" class="text-danger">
                    A subscription must be selected.
                </div>
            </div>

            <div class="button-container">
                <button type="submit" [disabled]="packageForm.invalid" class="btn btn-success">Add</button>
            </div>
        </form>
    </div>
</div>
