<div class="reset-bg">
    <div class="container reset-main row">
      <div class="container reset-container col-md-4">
        <h2>Reset Password</h2>
        <div class="resetform">
          <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
            <input
              type="password"
              class="form-control main-input"
              placeholder="Enter your new password"
              formControlName="password"
            />
            <div *ngIf="resetPasswordForm.get('password')?.touched && resetPasswordForm.get('password')?.invalid" class="text-danger">
              <div *ngIf="resetPasswordForm.get('password')?.errors?.['required']">Password is required.</div>
              <div *ngIf="resetPasswordForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</div>
              <div *ngIf="resetPasswordForm.get('password')?.errors?.['noSpaces']">Password cannot be just spaces.</div>
            </div>
            
            <button type="submit" class="reset-btn btn btn-success mt-3">Reset Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  