<app-header [isAdmin]="true" [isLoggedIn]="true"></app-header>

<div class="container main-container">
    <div class="conatiner form-container">
      <h4>{{formFunction}} Package</h4>
    <form [formGroup]="packageEditForm" (ngSubmit)="onAdd()" class="add-item-form" >
       <div>
        <label for="name" class="form-label">Name</label>
        <input type="text" id="name" class="form-control" formControlName="name">
        <div *ngIf="packageEditForm.get('name')?.invalid && packageEditForm.get('name')?.touched"></div>
        <div *ngIf="packageEditForm.get('name')?.errors?.['noSpaces']">Name cannot be just spaces.</div>
       </div>

       <div>
        <label for="description" class="form-label">Description</label>
        <input type="text" id="description" class="form-control" formControlName="description">
        <div *ngIf="packageEditForm.get('description')?.invalid && packageEditForm.get('description')?.touched"></div>
        <div *ngIf="packageEditForm.get('description')?.errors?.['noSpaces']">Name cannot be just spaces.</div>
       </div>

       <div>
        <label for="exercise" class="form-label">Select Exercises</label>
        <select id="exercise" class="form-control" (change)="exerciseSelect($event)"formControlName="exercises">
            <option *ngFor="let exercise of exerciseOptions" [value]="exercise._id">{{exercise.Name}}</option>
        </select>
        <div *ngIf="packageEditForm.get('exercises')?.invalid && packageEditForm.get('exercises')?.touched">
            At least one exercise must be selected
          </div>
       </div>

       <div class="selected-exercises mt-2">
       <div class="selectedbtns" *ngFor="let ex of selectedExercise">
        <button type="button" (click)="deSelectExercise(ex.id)" class="btn btn-secondary">{{ex.name}} <span><i class="fa-solid fa-x"></i></span></button>
       </div>
       </div>

       <div>
        <label for="subscription" class="form-label">Select Subscripton</label>
        <select id="subscription" class="form-control" formControlName="subscription">
            <option *ngFor="let subscription of subscriptionOptions" [value]="subscription._id">{{subscription.Name}}</option>
        </select>
        <div *ngIf="packageEditForm.get('subscription')?.invalid && packageEditForm.get('subscription')?.touched">
            At least one exercise must be selected
          </div>
          <div *ngIf="formFunction === 'Edit'"> Leave the field blank to keep the old value</div>
       </div>

    
        <div class="button-container">
          <button type="submit" class="btn btn-success">Add</button>
      </div>
    </form>
  </div>
</div>