<div class="main-container container">
    <div class="row">
        <div class="profile-pic-container col-md-4">
            <img class="profile-pic"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4DQ-tp12zlDGEUfulC2NNYwJ7vvskGXip6w&s"
                alt="">
            <h5 class="mt-3 mx-4">Profile picture</h5>
        </div>
        <div class="col-md-8 personal-info">
            <h4>Personal Info</h4>
                <h6 class="mt-4">Name :  {{userData.Name}}</h6>
                <h6 class="mt-4">Email :  {{userData.Email}}</h6>
      
            <div class="personal-info-sub">
                <h6 class="mt-4">Gender :  {{userData.personalDetails[0].Gender}}</h6>
                <h6 class="mt-4 mx-4">Age :  {{userData.personalDetails[0].Age}}</h6>
            </div>
            <div class="personal-info-sub">
                <h6 class="mt-4">Height :  {{userData.personalDetails[0].Height}}</h6>
                <h6 class="mt-4 mx-4">Weight :  {{userData.personalDetails[0].Weight}}</h6>
            </div>
        </div>
    </div>
</div>