.profile-pic{
    margin-top: 2rem;
    width: 12rem;
    height: 12rem;
    border-radius: 6rem;
}
.personal-info{
    margin-top: 3.5rem;
}
.personal-info-sub{
    display: flex;
   
}
h4{
    color: rgb(194, 140, 42);
}
h6{
    color: rgb(194, 140, 42);
}
