<div class="main-container">
    <div class="sidebar-header">
        <h4 c class="mx-5 pt-4 text-light">Profile Sidebar</h4>
    </div>
    <div class="sub-headings-container">
        <div class="sub-headings">
            <h6 class="mx-5 text-light mt-5">
                <span class="mx-2">>></span>
                <a [routerLink]="['#']" class="text-light">Personal Info</a>
              </h6>
        </div>
        <div class="sub-headings">
            <h6 class="mx-5 text-light mt-5">
                <span class="mx-2">>></span>
                <a [routerLink]="['#']" class="text-light">Workout Plans</a>
              </h6>
        </div>
        <div class="sub-headings">
            <h6 class="mx-5 text-light mt-5">
                <span class="mx-2">>></span>
                <a [routerLink]="['#']" class="text-light">Subscription Details</a>
              </h6>
        </div>
        <div class="sub-headings">
            <h6 class="mx-5 text-light mt-5">
                <span class="mx-2">>></span>
                <a [routerLink]="['#']" class="text-light">Profile Updation</a>
              </h6>
        </div>
    </div>
</div>