<div class="main-container">
    <div *ngIf="dataLoaded" class="col-md-12 details-container">
        <div class="profile-pic-container">
            <img *ngIf="role === 'user' && roomData.trainerDetails.Image" class="profile-pic" src="{{roomData.trainerDetails.Image}}" alt="Profile Picture">
            <img *ngIf="role === 'user' && !roomData.trainerDetails.Image" class="profile-pic" src="../../../../assets/public/blank-profile-picture.webp" alt="No Profile Picture">
            <img *ngIf="role === 'trainer' && roomData.userDetails?.PersonalDetails?.Image" class="profile-pic" src="{{roomData.userDetails.PersonalDetails.Image}}" alt="Profile Picture">
            <img *ngIf="role === 'trainer' && !roomData.userDetails?.PersonalDetails?.Image" class="profile-pic" src="../../../../assets/public/blank-profile-picture.webp" alt="No Profile Picture">
        </div>
        <div class="room-details-container">
            <h4>{{role === 'trainer' ? roomData.userDetails.Name : roomData.trainerDetails.Name}}</h4>
            <p *ngIf="role === 'trainer' && userTyping || role === 'user' && trainerTyping">Typing...</p>
        </div>
    </div>

    <div class="vertical-line-div mt-2 mx-3">
        <div class="horizontal-line"></div>
    </div>

    <div class="messages-container">
       <div *ngFor="let message of Messages">
        <div *ngIf="message.SenderId === (role === 'user' ? UserId : TrainerId)" class="send-text">
            <h6>{{message.Message}}</h6>
            <div class="message-info">
                <p class="timestamp">{{message.TimeStamp | timeStamp}}</p>
                <p class="status">{{message.Read ? '✔✔ Seen' : '✔ Sent'}}</p>
            </div>
        </div>
        <div *ngIf="message.SenderId !== (role === 'user' ? UserId : TrainerId)" class="receiver-text">
            <h6>{{message.Message}}</h6>
            <div class="message-info">
                <p class="timestamp">{{message.TimeStamp | timeStamp}}</p>
            </div>
        </div>
       </div>
    </div>

    <div class="message-area">
        <div class="text-area-container">
          <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
            <input class="text-area form-control" (input)="typingIndicate(messageForm.value)" type="text" placeholder="Type your message here..." formControlName="message">
          </form> 
        </div>
        <div class="chat-icons">
            <i class="fa-regular fa-face-smile"></i>
        </div>
    </div>
</div>
