<h2 mat-dialog-title class="dialog-title">
    <mat-icon>group_add</mat-icon> Select a User to Create Room
  </h2>
  
  <mat-dialog-content class="dialog-content">
    <div class="user-list">
      <mat-radio-group [(ngModel)]="selectedUserId">
        <mat-list>
          <mat-list-item *ngFor="let user of allUsers">
            <mat-radio-button [value]="user._id">
              <div class="user-info">
                <mat-icon class="user-icon">person</mat-icon>
                <span>{{ user.Name }}</span>
              </div>
            </mat-radio-button>
          </mat-list-item>
        </mat-list>
      </mat-radio-group>
    </div>
  </mat-dialog-content>
  
  <mat-dialog-actions align="end" class="dialog-actions">
    <button mat-button mat-dialog-close class="cancel-button" (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!selectedUserId" (click)="createRoom()">
      <mat-icon>done</mat-icon> Create
    </button>
  </mat-dialog-actions>
  