.main-container {
    padding: 1rem 0;

    h2 {
        margin-top: 1rem;
        text-align: center;
        font-size: 2rem; 
        font-weight: 700;
        color: #2C3E50;
        margin-bottom: 2rem;
    }
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.5rem; 
}

.subscription-card {
    background-color: #f8f9fa;
    border-radius: 15px;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    max-width: 20rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

    .plan-header {
        background-color: #4e555b;
        padding: 1rem; 
        text-align: center;
        border-radius: 10px;

        h3 {
            color: #fff;
            font-size: 1.4rem; 
            font-weight: 600;
            margin: 0;
        }
    }

    .plan-features {
        margin-top: 1.5rem; /* Reduce margin */
        text-align: center;
        flex-grow: 1;

        h5 {
            font-size: 1rem; /* Reduce font size */
            font-weight: 600;
            color: #34495e;
            margin-bottom: 1rem; /* Reduce bottom margin */
        }

        ul {
            padding: 0;
            list-style: none;

            li {
                font-size: 0.9rem; /* Slightly reduce list item font size */
                color: #7f8c8d;
                margin-bottom: 0.5rem; /* Reduce spacing between list items */
            }
        }
    }

    .subscription-btn-container {
        margin-top: 1rem;
        text-align: center;

        .subscription-btn {
            background-color: #28a745;
            border: none;
            border-radius: 10px;
            width: 100%;
            padding: 0.8rem; /* Reduce button padding */
            font-size: 1rem; /* Decrease font size */
            font-weight: 600;
            color: white;
            display: inline-block;
            transition: background-color 0.3s ease;

            .price {
                font-weight: bold;
                margin-left: 0.5rem; /* Adjust spacing */
                color: #fff;
            }

            &:hover {
                background-color: #218838;
            }
        }
    }
}
