<app-header></app-header>

<div class="container main-container">
    <div class="conatiner form-container">
      <h4>Add new {{item}}</h4>
    <form [formGroup]="addItemForm" (ngSubmit)="onAdd()" class="add-item-form" >
        <label class="form-label" for="name">Name</label>
        <input type="text" class="form-control" placeholder="Enter title" formControlName="name">

        <label class="form-label" for="description">Description</label>
        <input type="text" class="form-control" placeholder="Enter description" formControlName="description">

        <label class="form-label" for="image">Image</label>
        <input type="file" class="form-control" (change)="onFileSelected($event)">

        <div class="button-container">
          <button type="submit" class="btn btn-success">Add</button>
      </div>
    </form>
  </div>
</div>