<div class="login-bg">
    
    <div class="container login-main row">
        
    <div class="container login-container col-md-4">
        <h2>{{Role}} Registration</h2>
       <div class="loginform">
         <form [formGroup]="registerForm" (ngSubmit)="register()">

            <input type="text" class="form-control" placeholder="Enter your Name" formControlName="name">
           
            <input type="text" class="form-control" placeholder="Enter your email" formControlName="email">
            
            <input type="password" class="form-control" placeholder="Enter your password" formControlName="password">

            <input type="password" class="form-control" placeholder="Confirm your password" formControlName="cpassword">
            
            <button type="submit" class="login-btn btn btn-success mt-5">Sign up</button>
        </form>
       </div>
    </div>
    </div>
</div>